:root {
    --text-primary: #b6b6b6
    --text-secondary: #A7A7A7;
    --bg-primary: #ffffff;
    --bg-secondary: #f4f4f4;
    --main-primary: #59114D;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}