body {
  margin: 0;
  padding: 0;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f8;
}

#root {
  display: flex;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
