a {
  -color-twitch-purple-1: #040109;
  --color-twitch-purple-2: #0d031c;
  --color-twitch-purple-3: #15052e;
  --color-twitch-purple-4: #24094e;
  --color-twitch-purple-5: #330c6e;
  --color-twitch-purple-6: #451093;
  --color-twitch-purple-7: #5c16c5;
  --color-twitch-purple-8: #772ce8;
  --color-twitch-purple-9: #9147ff;
  --color-twitch-purple-10: #a970ff;
  --color-twitch-purple-11: #bf94ff;
  --color-twitch-purple-12: #d1b3ff;
  --color-twitch-purple-13: #e3d1ff;
  --color-twitch-purple-14: #ede0ff;
  --color-twitch-purple-15: #f3ebff;

  --color-white: #fff;
  --color-black: #000;
  --color-red: #e91916;
  --color-red-darker: #bb1411;
  --color-orange: #ffd37a;
  --color-yellow: #ffd37a;
  --color-green: #00f593;
  --color-green-darker: #00ad96;
  --color-blue: #1f69ff;
  --color-prime-blue: #0e9bd8;
  --color-magenta: #c53dff;
  --color-error: #eb0400;
  --color-warn: #ffd37a;
  --color-success: #00f593;
  --color-info: #1f69ff;
  --color-accent: #9147ff;
  --color-twitch-purple: #9147ff;
}
