:root {
    font-size: 16px;
    --text-primary: #b6b6b6
    --text-secondary: #A7A7A7;
    --bg-primary: #ffffff;
    --bg-secondary: #f4f4f4;
    --main-primary: #59114D;
    
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
}

a {text-decoration: none;}